
.flight-container {
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	width: 18em;
	padding: 1em;
	background-color: #fff;
	transition: transform 0.4s;
	cursor: pointer;
  }
  
  .flight-container:hover {
	transform: translateY(-1.2em);
  }
  
  .flight-container h3 {
	margin-top: 0;
	font-size: 1.2em;
	color: #333;
  }
  
  .flight-details {
	margin-top: 10px;
  }
  
  .flight-details strong {
	display: block;
	margin-bottom: 5px;
	color: #555;
  }
  
  .flight-details span {
	color: #777;
  }